<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SDK_Dylib_Digit_Version</key>
	<integer>15710</integer>
	<key>SDK_Dylib_Version</key>
	<string>1.5.7.1</string>
	<key>SDK_Dylib_HashCode</key>
	<data>gjQCJG7GhR+408mlcdJ9RQ==</data>
</dict>
</plist>
