<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SDK_Dylib_Digit_Version</key>
	<integer>16110</integer>
	<key>SDK_Dylib_Version</key>
	<string>1.6.1.1</string>
	<key>SDK_Dylib_HashCode</key>
	<data>f0hyGo9Hs2Rl2BlgMNvhaA==</data>
</dict>
</plist>
